*{
    margin:0;
    padding:0;
}

.header {
    display: flex;
    flex-direction: column;
    width: 1300px;
    margin: auto;
}

.top-menu{
    margin-top: 57px;
    height: 176px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: #263238;
    margin-left: 33px;
}

.top-menu__menu--link {
    display: inline-block;
    margin-left: 33px;
    cursor: pointer;
}

.top-menu__button {
    box-sizing: border-box;
    width: 220px;
    height: 70px;
    border: 2px solid #263238;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    cursor: pointer;
}
 	
.top-menu__button:hover{
    background: #971f1f;
}

.content {
    display: flex;
    justify-content: center;
}

.content__info {
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
}

.content__info--title{
    width: 386px;
    height: 240px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
}

.content__info--text {
    width: 632px;
    height: 108px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
}

.content__button--get{
    width: 438px;
    height: 118px;
    background: #110323;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
    cursor: pointer;
}

.content__button--get:hover{
    background: #971f1f;
}
    
.skills {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #000000;
    margin-bottom: 100px; 
}

.skills__cards {
    width: 100%; 
    display: flex;
    justify-content: space-between;
}

.skills__card {
    width: 350px;
    height: 500px;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
}

.skills__card--img {
    width: 350px;
    height: auto;
    margin-bottom: 30px;
    object-fit: contain;
}

.skills__card--title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #263238;
    margin-bottom: 20px;
}

.skills__card--text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
    margin-bottom: auto;
}

.skills__card--button {
    width: 196px;
    height: 57px;
    background: #263238;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
}
.skills__card--button:hover{
    background: #971f1f;
}

.content-about {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    width: 1300px;
    display: flex;
    align-items: center;
}

.content-about__info {
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
}

.content-about__info--title{
    width: 800px;
    height: 300px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 200px;
    color: #000000;
}

.content-about__info--text {
    width: 632px;
    height: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
}

.pricing {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #000000;
    margin-bottom: 100px; 
}

.pricing__cards {
    width: 110%; 
    display: flex;
    justify-content: space-between;
}

.pricing__card {
    width: 500px;
    height: 550px;
    background: #ffffff;
    border-radius: 10px;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
}

.pricing__card--img {
    width: 350px;
    height: auto;
    margin-bottom: 30px;
    object-fit: contain;
}

.pricing__card--title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #263238;
    margin-bottom: 20px;
}

.pricing__card--text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
    margin-bottom: auto;
}

.pricing__card--button {
    width: 196px;
    height: 40px;
    background: #EEEEEE;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
}

.pricing__card--button:hover{
    background: #971f1f;
}

.contactus {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    width: 1300px;
    display: flex;
    align-items: center;
}

.contactus__info {
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
}

.contactus__info--title{
    width: 830px;
    height: 150px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
}

.contactus__info--text {
    width: 632px;
    height: 108px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #8F95A5;
}

.contactus__button--get{
    width: 250px;
    height: 70px;
    background: #110323;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 54px;
    color: #ffffff;
    cursor: pointer;
}

.contactus__button--get:hover{
    background: #971f1f;
}

.contactus__button--get--email{
    width: 300px;
    height: 70px;
    background: #ffffff;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 54px;
    color: #585353;
    cursor: pointer;
}

.footer-menu{
    margin-top: 57px;
    height: 176px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #8F95A5; 
    margin-left: 33px;
}

.footer-menu__menu--link {
    display: inline-block;
    margin-left: 33px;
    cursor: pointer;
    justify-content: right;
}

.footer-menu__logo {
    justify-content: left;
}
